<!--
Copyright (c) Microsoft Corporation. All rights reserved. 
Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
-->
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h3 class="font-family:Segoe UI; font-size:18px; color:#333; text-align:center;">Please close this window.</h3>
    <script type="text/javascript">
        self.close();
    </script>
</body>
</html>