<!--
Copyright (c) Microsoft Corporation. All rights reserved. 
Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
-->
@CardLink.FAQPart1 <a href="https://www.bing.com/offers/cardlinked?bor=@ViewBag.referrer&bof=@ViewBag.campaign">@CardLink.FAQLinkText</a> @CardLink.FAQPart2