<!--
Copyright (c) Microsoft Corporation. All rights reserved. 
Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
-->
<section id="faq" class="accounts-container">
    <div class="container">
        <h1>Frequently Asked Questions</h1>
        <div class="faq-container">
            <div class="faq-need-more-help mobile">
                <h4>WE ARE HERE TO HELP</h4>
                <br />
                @Html.ActionLink("Contact Earn Support", "Help", "Account")
            </div>
            <div id="accordion">
                <div class="group">
                    <div class="group-title">
                        <h3>Enrolling in Earn</h3>
                    </div>

                    <div class="item">
                        <p class="question">How much does it cost to join Earn?</p>
                        <p class="answer">There’s absolutely no cost to join Earn.  The sooner you enroll, the sooner you will begin to receive Earn Credits.</p>
                    </div>

                    <div class="item">
                        <p class="question">How do I enroll in the Earn Program?</p>
                        <p class="answer">
                            Simply go to the enrollment link, enroll your valid, eligible credit and debit cards, and provide your email address.
                            Your cell phone number is optional, but with it, we can send you a confirmation text as you receive and use Earn Credits.  That’s it.  Nothing else is needed.
                        </p>
                    </div>

                    <div class="item">
                        <p class="question">Once I enroll my credit and debit cards, can I add more and/or delete them?</p>
                        <p class="answer">Yes, just go to the Settings on the Earn website.</p>
                    </div>

                    <div class="item">
                        <p class="question">Which credit and debit cards can I enroll?</p>
                        <p class="answer">
                            Today, you can enroll any MasterCard and Visa credit card.
                            Very shortly, we also plan to support American Express credit cards.
                            You can also enroll any MasterCard or Visa debit card which uses signature (signature debit), and not a PIN (PIN debit).
                        </p>
                    </div>

                    <div class="item">
                        <p class="question">How do I stop participating in the Earn program?</p>
                        <p class="answer">To stop participating in the Earn program, simply go to the Settings on the Earn website and delete your enrolled cards.</p>
                    </div>

                </div>

                <div class="group">
                    <div class="group-title">
                        <h3>Receiving Earn Credits</h3>
                    </div>

                    <div class="item">
                        <p class="question">What are Earn Credits?</p>
                        <p class="answer">
                            Earn Credits are similar to points that are earned automatically when you use your enrolled credit or debit card at a participating Earn merchant .
                            These points are represented as Earn Credits.
                        </p>
                    </div>

                    <div class="item">
                        <p class="question">How are Earn Credits calculated?</p>
                        <p class="answer">
                            We publish on the Earn website the percentage of Earn Credits you’ll earn with each purchase from a participating Earn merchant.
                            This percentage is applied to the total amount you charge on your enrolled credit and debit cards, including tax, tip, shipping, etc.
                        </p>
                    </div>

                    <div class="item">
                        <p class="question">Do Earn Credits expire?</p>
                        <p class="answer">Earn Credits will expire one year following the day on which they are received.  Earn Credits cannot be redeemed following expiration.</p>
                    </div>

                    <div class="item">
                        <p class="question">Is there a limit to the number of Earn Credits I can earn annually?</p>
                        <p class="answer">
                            Yes, you may receive a maximum of $2,000 Earn Credits per calendar year.
                        </p>
                    </div>

                    <div class="item">
                        <p class="question">Do I receive Earn Credits for purchases that I make at participating, local Microsoft Stores?</p>
                        <p class="answer">No, you can only earn credits at participating merchants, and not at the local Microsoft Store.</p>
                    </div>

                    <div class="item">
                        <p class="question">What if my enrolled card is already enrolled in another rewards program?  Will I still receive Earn Credits?</p>
                        <p class="answer">
                            Yes, with one exception.  If your enrolled card is also enrolled in a dining program that is powered by Rewards Network,
                            you will not receive Earn Credits for the same transaction in the Earn Program.
                            Otherwise, you will receive Earn Credits, even if enrolled in another rewards program where you’re earning miles, points, cash back or other rewards.
                        </p>
                    </div>

                    <div class="item">
                        <p class="question">What dining programs are “powered” by Rewards Network?</p>
                        <p class="answer">
                            Examples include the American Airlines Dining Program and the United Airlines Dining Program.
                            For a complete list, please view at Rewards Network <a href="http://www.rewardsnetwork.com/earn/" target="_blank">site</a>.
                        </p>
                    </div>

                    <div class="item">
                        <p class="question">Why do I see a $TBD for pending gas transactions?</p>
                        <p class="answer">
                            We are not informed of the amount of your gas purchase until after the transaction settles with your credit/debit card company,
                            which is often 2-3 days after you have made the purchase.
                        </p>
                    </div>

                    <div class="item">
                        <p class="question">How many credit cards can I add to my account?</p>
                        <p class="answer">
                            You can add a maximum of 5 Visa cards and 5 MasterCard cards to your one Earn account.
                            If for some reason you are not able to reach this maximum, please let us know.
                        </p>
                    </div>

                    <div class="item">
                        <p class="question">Can I Earn Credits if I use an enrolled debit card?</p>
                        <p class="answer">
                            You will not Earn Credits when making a transaction if you select “debit” and/or enter a PIN with an enrolled debit card.
                            On the other hand, if you select “credit” and do not enter a PIN when using an enrolled debit card, you should Earn Credits.
                        </p>
                    </div>

                </div>

                <div class="group">
                    <div class="group-title">
                        <h3>Redeeming Earn Credits</h3>
                    </div>
                    <div class="item">
                        <p class="question">What are Earn Credits good for?</p>
                        <p class="answer">
                            Earn Credits may be applied to any purchase you make with an enrolled card at the online Microsoft Store and participating local Microsoft Stores.
                            During the beta, that means only the online Microsoft Store and participating local Microsoft Stores in Washington, Massachusetts and Arizona.  Earn Credits are not redeemable for cash.
                        </p>
                    </div>

                    <div class="item">
                        <p class="question">When I make a purchase at the online Microsoft Store and participating local Microsoft Stores, how are my Earn Credits applied?</p>
                        <p class="answer">
                            When you make a purchase at the online Microsoft Store and participating local Microsoft Stores with your enrolled card, 100% of your Earn Credit balance will apply towards the purchase in the form of a statement credit on your bank card statement.
                            For example, if you purchase $100 at the online Microsoft Store and participating local Microsoft Stores with your enrolled card, and you have an Earn Credit Balance of $25, you’ll receive a $25 statement credit on your bank card statement.
                        </p>
                    </div>

                    <div class="item">
                        <p class="question">So in the example above, will I see the $25 discount on my receipt at the online Microsoft Store and participating local Microsoft Stores, and if not, how I know I receive the value of my Earn Credits?</p>
                        <p class="answer">
                            No.  Your receipt will say $100.  Soon after your purchase, you will receive a confirmation text message (if you have provided us with your cell phone number) along with a confirmation email.
                            When you receive your bank card statement, you will see a line item with a $100 charge from the Microsoft Store, and you will see another line item with a $25 credit label “Earn Credit – Microsoft Store”.
                        </p>
                    </div>

                    <div class="item">
                        <p class="question">Do I need to tell the salesperson at the online Microsoft Store and participating local Microsoft Stores anything for my Earn Credits to be applied?</p>
                        <p class="answer">
                            No, you don’t need to tell the salesperson anything.  No coupon codes.  No vouchers.  Nothing.  Just use your enrolled card when you make the purchase.
                            In fact, unless tell the salesperson, they won’t even know that you have Earn Credits that are going to be used for the transaction.
                        </p>
                    </div>

                    <div class="item">
                        <p class="question">Do my Earn Credits apply against everything I’m charged for in the online Microsoft Store and participating local Microsoft Stores with my enrolled card?</p>
                        <p class="answer">Yes.</p>
                    </div>

                    <div class="item">
                        <p class="question">Do my Earn Credits even apply towards non-Microsoft products that may be sold in the online Microsoft Store and participating local Microsoft Stores, like Beats headphones or Gogo cameras?</p>
                        <p class="answer">Yes.</p>
                    </div>

                    <div class="item">
                        <p class="question">
                            What happens if my Earn Credits are applied against a purchase I make in the online Microsoft Store and participating local Microsoft Stores, and then make a return?
                            Do you reverse the statement credit and add back the Earn Credits to my Earn Credit Balance?
                        </p>
                        <p class="answer">Microsoft may, at its sole discretion, elect to reverse the statement credit and add back the Earn Credits to your balance for any returns made for purchases at the Microsoft Store.</p>
                    </div>

                    <div class="item">
                        <p class="question">What if I don’t receive the text or email confirmations and/or don’t see the “Earn Credit – Microsoft Store” on my bank card statement?</p>
                        <p class="answer">Please let us know by going to our Support page on the Earn website.</p>
                    </div>

                    <div class="item">
                        <p class="question">Which card do I need to use when I redeem my Earn Credits for a Microsoft purchase?</p>
                        <p class="answer">You can use any card you have enrolled in the program.  All of your Earn Credits are tied to your Earn account.</p>
                    </div>

                    <div class="item">
                        <p class="question">When I’m redeeming my Earn Credits for a Microsoft purchase, why does it ask for payment information and why doesn’t the discount from the Earn Credits show up on the receipt?</p>
                        <p class="answer">
                            To redeem your Earn Credits, you must first make a qualified Microsoft purchase using an enrolled card.
                            Once you complete the purchase, you should shortly receive a text and/or email confirmation that your Earn Credits will be applied to the purchase.
                            Within a couple days, there should be two lines on your bank card statement.
                            One for the purchase you made at Microsoft, and the other that reads “MSFT Earn Redemption” with a credit for the amount of Earn Credits redeemed.
                        </p>
                    </div>

                </div>

                <div class="group">
                    <div class="group-title">
                        <h3>Privacy & Security</h3>
                    </div>
                    <div class="item">
                        <p class="question">Is my credit and debit card information secure?</p>
                        <p class="answer">
                            Earn meets or exceeds PCI compliance standards for the banking industry. We recommend you read the <a href="/legal/termsofuse" target="_blank">Earn by Microsoft Terms of Use</a> for more
                            information about our data and information use policy.
                            We also recommend reading <a href="https://www.microsoft.com/privacystatement/en-us/core/default.aspx" target="_blank">Microsoft’s Privacy Policy</a> for additional information
                        </p>
                    </div>

                    <div class="item">
                        <p class="question">Do you share my transaction information with others that you receive from the card networks for the transactions I make with participating merchants and at the Microsoft Store?</p>
                        <p class="answer">
                            Transaction information that we receive from your purchases with participating merchants and the Microsoft Store is used solely for the Earn program.
                            A subset of this transaction information includes the purchase amount, date and time, along with the last four digits of your enrolled card.
                            This subset of transaction information is only shared with the participating merchant of the transaction.
                            For participating merchants provided by Rewards Network, this subset of transaction information is also shared with Rewards Network as the agency of the participating merchant.
                            We recommend you read the <a href="/legal/termsofuse" target="_blank">Earn by Microsoft Terms of Use</a> for more information about our data and information use policy. We also recommend reading
                            <a href="https://www.microsoft.com/privacystatement/en-us/core/default.aspx" target="_blank">Microsoft’s Privacy Policy</a> for additional information.
                        </p>
                    </div>

                </div>

                <div class="group">
                    <div class="group-title">
                        <h3>Other Program Information</h3>
                    </div>
                    <div class="item">
                        <p class="question">Are there any age restrictions on participating?</p>
                        <p class="answer">
                            You must be 18 or older to join the Earn program. Check your Microsoft account to make sure your birthdate and age are correct.
                        </p>
                    </div>

                    <div class="item">
                        <p class="question">Who can I contact if I have questions or want more information?</p>
                        <p class="answer">
                            Please send an email to <a href="mailto:earnsupport@microsoft.com" target="_blank">earnsupport@microsoft.com</a>
                        </p>
                    </div>

                    <div class="item">
                        <p class="question">How do I stop participating in the Earn program?</p>
                        <p class="answer">
                            To stop participating in the Earn program, simply go to the Settings section in the Earn website and delete your enrolled cards.
                        </p>
                    </div>

                    <div class="item">
                        <p class="question">My Earn Credit balance doesn't look right. How do I verify that it's correct?</p>
                        <p class="answer">
                            As stated above, additions to your Earn Credit Balance are calculated by multiplying the amount of your purchase at a participating merchant with your enrolled card,
                            by the percentage earned for that specific merchant, as defined on the Earn website.
                            Deductions to your Earn Credit Balance are calculated by subtracting up to your then current Earn Credit Balance for each purchase you make at participating Local Microsoft Stores, with your enrolled card.
                            If there appears to be an error, please contact us at <a href="mailto:earnsupport@microsoft.com" target="_blank">earnsupport@microsoft.com</a>.
                        </p>
                    </div>

                </div>
            </div>
            <div class="faq-need-more-help">
                <h4>WE ARE HERE TO HELP</h4>
                <br />
                @Html.ActionLink("Contact Earn Support", "Help", "Account")
            </div>
        </div>

    </div>
</section>