<!--
Copyright (c) Microsoft Corporation. All rights reserved. 
Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
-->

<section id="footer">
    <div class="container">
        <div class="logo">
            <img src="https://az414848.vo.msecnd.net/card-linked-assets/msft_squares_logo.png" />
        </div>
        <div class="menu">
            <ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Support", "Support", "Account")</li>
                }
                else
                {

                    <li>@Html.ActionLink("FAQ", "Faq", "Legal")</li>
                    <li><a target="_blank" href="mailto:earnsupport@microsoft.com">Support</a></li>
                }

                <li><a target="_blank" href="https://privacy.microsoft.com/en-us/privacystatement">Privacy &amp; cookies</a></li>
                <li><a target="_blank" class="mscom-link" href="/legal/termsofuse">Terms of use</a></li>
                <li><a target="_blank" class="mscom-link" href="http://go.microsoft.com/?linkid=9851308">Trademarks</a></li>
                <li>&copy; 2016 Microsoft</li>
            </ul>
        </div>

        <div class="clear"></div>
    </div>

</section>