<!--
Copyright (c) Microsoft Corporation. All rights reserved. 
Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
-->
<section id="notifications" style="display: none" data-bind="visible: notificationsView.showAddCardNotification">
    <div class="container">
        <div class="notification closable-notification bottom-separator">
            <h2>
                You don’t have a card registered. Add one to complete signup.
            </h2>
            @Html.ActionLink("Add Card", "Settings", "Account", null, new Dictionary<string, object> { { "class", "button" } })
        </div>
    </div>
    <a class="close icon-close" data-bind="click: notificationsView.closeClicked"></a>
</section>

<section id="notifications">
    <div class="container">
        <div class="notification nonclosable-notification">
            <h2>
                Introducing a new way to Earn! Get&nbsp;<strong>5&nbsp;%&nbsp;in&nbsp;Earn&nbsp;Credits</strong> when you purchase gift cards through Earn.
                <strong>
                    <a href="/GiftCards?cmp_ref=gclm" class="inline-link" style="display: none" data-bind="visible: notificationsView.showGiftCardsIntro">
                        Learn&nbsp;more&nbsp;&gt;
                    </a>
                </strong>
            </h2>
        </div>
    </div>
</section>