<!--
Copyright (c) Microsoft Corporation. All rights reserved. 
Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
-->
<section id="socialbar">
    <div class="container">
        <div class="follow-earn-section">
            <div class="text">
                <p>Follow Earn</p>
            </div>
            <ul class="social-icons">
                <li>
                    <a href="https://www.facebook.com/earnbymicrosoft/" target="_blank" class="facebook icon-facebook">
                        <img src="https://productionbingofferswus.blob.core.windows.net/card-linked-assets/icon-fb-onblue.png" />
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/EarnByMicrosoft" target="_blank" class="twitter icon-twitter">
                        <img src="https://productionbingofferswus.blob.core.windows.net/card-linked-assets/icon-tw-onblue.png" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>

</section>