<!--
Copyright (c) Microsoft Corporation. All rights reserved. 
Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
-->
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Complete Profile</title>
</head>
<body>
    <table width="443" cellpadding="20" cellspacing="0" style="margin-right: auto; margin-left: auto; margin-bottom: 0; margin-top: 0; width: 443px; font-family: 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif; padding-left: 20px; padding-bottom: 20px; padding-top: 20px; padding-right: 20px; border-left-width: 0; border-bottom-width: 0; border-right-width: 0; border-top-width: 0;">
        <tr style="width: 100%">
    <td style="background-color: #505050; height: 56px; padding: 0;">
        <table>
            <tr>
                <td width="11px" style="width: 11px"></td>
                <td>
                    <a href="https://www.bing.com/offers?bor=BO_NOTIFY&bof=complete" style="padding-right: 0; padding-top: 0; padding-left: 0; padding-bottom: 0; text-decoration: none;" target="_blank">
                        <img width="145" height="34" border="0" src="https://az414848.vo.msecnd.net/assets/offers_email_logo.png" style="width: 145px; height: 34px; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; margin-top: 11px" alt="bing offers" />
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr style="width: 100%">
    <td bgcolor="#d2d2d2" valign="middle" align="left" style="padding: 0; background-color: #d2d2d2; height: 22px; font-family: 'Segoe UI Regular', 'Segoe UI', Arial, Helvetica, sans-serif; font-size: 10px; margin: 0; vertical-align: central;">
        <table border="0" style="border: 0; border-collapse: collapse;">
            <tr>
                <td width="30px" style="width: 11px;"></td>
                <td><a style="text-decoration: none; line-height: 22px; color: #505050;" target="_blank" href="https://www.bing.com/offers?bor=BO_NOTIFY&bof=complete">Browse</a>
                </td>
                <td width="30px" style="width: 30px;"></td>
                <td>
                    <a style="text-decoration: none; line-height: 22px; color: #505050;" target="_blank" href="https://www.bing.com/offers/settings?bor=BO_NOTIFY&bof=complete">Settings</a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td height="20px" style="height: 20px; padding: 0"></td>
</tr>

 <tr>
            <td align="left" valign="middle" style="font-size: 16px; color: #505050; font-family: 'Segoe UI Regular', 'Segoe UI', Arial, Helvetica, sans-serif; text-align: left; vertical-align: middle; padding-top: 0; padding-right: 11px; padding-bottom: 10px; padding-left: 11px;">
                <h2 style="color: #505050; font-weight: normal; font-size: 30px; font-family: 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif; margin: 0;">Hello,</h2>
              <p>You're one step away from completing your sign up.  Please complete your sign up and unlock the exciting savings brought to you by Bing Offers</p>
            </td>
        </tr>
         <tr>
        <td style="padding: 0; padding-left:10px;"><a bgcolor="#ffb900" width="260px" height="40px" target="_blank" href="https://www.bing.com/offers/settings/cardlinked?bor=BO_NOTIFY&bof=complete" style="display: block; height: 45px; line-height: 45px; font-size: 26px; text-align:center; width: 260px; background-color: #ffb900; text-decoration: none; font-family: 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif; color: #505050; padding-left: 10px;">Complete Signup</a></td>
    </tr>
      

<!-- Start of main-banner -->
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="600" align="center" cellspacing="0" cellpadding="0" border="0" class="devicewidth">
                           <tbody>
                              <tr>
                                 <!-- start of image -->
                                 <td align="center" st-image="banner-image">
                                    <div class="imgpop">
                                       <a target="_blank" href="https://ssl.bing.com/offers/card-linked-signup/?redirect_uri=https%3A%2F%2Fssl.bing.com%2Foffers%2F&bor=bo_notify&bof=complete">
										<img width="600" border="0" height="400" alt="" border="0" style="display:block; border:none; outline:none; text-decoration:none;" src="https://az414848.vo.msecnd.net/images/promotion-youtube-video.20140311.png" class="banner"></a>
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                        <!-- end of image -->
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
<!-- End of main-banner --> 

    

 <tr>
    <td height="10px" style="height:36px; padding: 0"></td>
</tr>   

<tr>
    <td style="padding: 0">
        <hr style="border-bottom: 1px solid #e1e0df;" />
        <p style="font-family: 'Segoe UI Regular', 'Segoe UI', Arial, Helvetica, sans-serif; font-size: 10px; color: #505050;">This email was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message.</p>
    </td>
</tr>

        <tr>
    <td bgcolor="#e1e0df" valign="middle" align="left" style="padding: 0; background-color: #e1e0df; height: 55px; font-family: 'Segoe UI Regular', 'Segoe UI', Arial, Helvetica, sans-serif; font-size: 10px; margin: 0; vertical-align: central; padding-left: 11px;">
        Microsoft | 1 Microsoft Way, Redmond, WA 98052 |&nbsp;<a target="_blank" href="http://go.microsoft.com/fwlink/?LinkId=248686" style="padding-right: 0; padding-top: 0; padding-left: 0; padding-bottom: 0;">Privacy Statement</a>
    </td>
</tr>

    </table>
</body>
</html>
