<!--
Copyright (c) Microsoft Corporation. All rights reserved. 
Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
-->
@model FeedbackEmailVM

@foreach (var feedback in @Model.Feedbacks)
{
<tr>
    <td>
        Feedback By 
        @if (feedback.UserType == 1)
        {
            @: Customer
        }
        else
        {
            @: Merchant           
        }
        on @feedback.InsertedDate <br/>
        <p style="font-size: 16px; color: #777777; margin: 0 0 20px 0;">@feedback.Comment</p>
    </td>
</tr>
}                           