<!--
Copyright (c) Microsoft Corporation. All rights reserved. 
Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
-->
@{
    Layout = "~/offers/earn/views/account/accountslayout.cshtml";
}

<section id="error" class="accounts-container">
    <div class="container">
        <h1>There was an error retrieving your account.</h1>
        <div class="error-container">
          <a href="javascript: location.reload()">Please refresh the page</a>
        </div>
    </div>
</section>