<!--
Copyright (c) Microsoft Corporation. All rights reserved. 
Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
-->
@model Earn.Offers.Earn.Models.AccountsPageModel
@{
    Layout = "~/offers/earn/views/account/accountslayout.cshtml";
    ViewBag.Title = "Earn at more place with gift cards";
}

<section id="giftcards" class="accounts-container">
    <div class="container">
        <div class="giftcards-container">
            <div class="left">
                <h1>Earn at more places with gift cards.</h1>
                <br />
                <p>
                    Now you can Earn however and whenever you want. It’s easy! Just purchase gift cards through Earn, using any device.
                    Choose from hundreds of top retailers and receive <strong>5% in Earn Credits</strong> with your purchase!<sup>1</sup>
                    Choose eGift to get a code immediately – or have a physical card delivered by mail. Use them for yourself, or give them as gifts.
                </p>
                <br />
                <p>
                    You’ll find the Earn Credits pile up fast when you purchase gift cards through Earn!
                </p>
                <br />
                <a href="https://microsoft.giftcardmall.com/" class="button shop">Shop gift cards</a>
            </div>
            <div class="right desktop">
                <img src="https://az414848.vo.msecnd.net/card-linked-assets/gift-card-grid-horiz-v2.jpg" class="horizont"/>
                <img src="https://az414848.vo.msecnd.net/card-linked-assets/gift-card-grid-vert-v2.jpg" class="vertical" />
            </div>
            @*<div class="right mobile">
                <img src="https://az414848.vo.msecnd.net/card-linked-assets/gift-card-grid-vert.jpg" class="tablet" />
            </div>*@
            <div class="clear"></div>
        </div>
    </div>
</section>

<section id="giftcards" class="accounts-container grey">
    <div class="container">
        <div class="giftcards-container">
            <div class="how-to-get-started-container">
                <div class="caption">
                    <h1>Here's how to get started</h1>
                </div>
                <div class="steps">
                    <div class="step shop-gift-card">
                        <img src="https://az414848.vo.msecnd.net/card-linked-assets/shop-gift-cards.png">
                        <div class="text">
                            <h2>Shop for gift cards</h2>
                            <p>
                                <a href="https://microsoft.giftcardmall.com" class="hyperlink">Choose from a wide selection</a> of top retailers. at checkout, select <strong>eGift</strong>, enter the details, and complete your purchase. You’ll get <strong>5% in Earn Credits!</strong>
                            </p>
                        </div>
                    </div>
                    <div class="step get-code">
                        <img src="https://az414848.vo.msecnd.net/card-linked-assets/get-your-code.png">
                        <div class="text">
                            <h2>Get your code</h2>
                            <p>
                                Check the email you used at checkout to retrieve your code. (If you don’t see an email from us, be sure to check your junk folder.)
                            </p>
                        </div>
                    </div>
                    <div class="step use-code">
                        <img src="https://az414848.vo.msecnd.net/card-linked-assets/use-your-code.png">
                        <div class="text">
                            <h2>Use your code</h2>
                            <p>
                                If you’re at the retailer, you can use the code on the spot! Or use the code online. Now you can Earn however and whenever you want.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <p>
                        With so many great retailers to choose from, it’s easy to start Earning with gift cards from Earn.
                    </p>
                    <a href="https://microsoft.giftcardmall.com" class="button get-started">Get started</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="giftcards" class="accounts-container">
    <div class="container">
        <div class="giftcards-container">
            <h1>Earn gift cards FAQ</h1>

            <div class="faq">
                <div class="item">
                    <div class="question">
                        <div class="icon-layout"></div>
                        <div class="text">Why do I need to sign-in to Gift Card Mall?</div>
                    </div>
                    <div class="answer">
                        <p>
                            Microsoft Earn has partnered with <a href="https://www.giftcardmall.com" class="hyperlink">Gift Card Mall</a> to offer a simple,
                            safe and secure destination to shop and Earn Credits for top card brands.
                            All gift card purchases are processed and managed by Gift Card Mall.
                        </p>
                    </div>

                </div>

                <div class="item">
                    <div class="question">
                        <div class="icon-layout"></div>
                        <div class="text">Are eGift cards refundable?</div>
                    </div>
                    <div class="answer">
                        <p>
                            Once the eGift card has been e-mailed, it is non-refundable.
                            If the intended recipient does not receive their eGift card or accidentally deletes it, then the code can be resent.
                            Just email Gift Card Mall at <a href="mailto:customerservice@giftcardmall.com">customerservice@giftcardmall.com</a> or call 1-877-426-2551.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="question">
                        <div class="icon-layout"></div>
                        <div class="text">Are there any restrictions on purchasing cards?</div>
                    </div>
                    <div class="answer">
                        <p>
                            No, but the card value denominations are preset for all of the brands.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="question">
                        <div class="icon-layout"></div>
                        <div class="text">Do these cards expire or have any fees?</div>
                    </div>
                    <div class="answer">
                        <p>
                            Most merchant cards do not have an expiration date or fees.
                            However, since every merchant is different, please refer to their specific terms and conditions found on each brand’s page prior to purchasing their card.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="question">
                        <div class="icon-layout"></div>
                        <div class="text">How do I check the status of an order?</div>
                    </div>
                    <div class="answer">
                        <p>
                            You can check the status of an order by clicking My Account in the drop down under your name at the top of the page.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="question">
                        <div class="icon-layout"></div>
                        <div class="text">How do I place an order?</div>
                    </div>
                    <div class="answer">
                        <p>
                            You can shop online at any time and pay by credit card, or call 1-877-426-2551 between 8:00 a.m. and 6:00 p.m. CST to have someone assist you with your order.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="question">
                        <div class="icon-layout"></div>
                        <div class="text">How is my order delivered?</div>
                    </div>
                    <div class="answer">
                        <p>
                            Your recipient will receive an email or text message that contains a link to their gift card. You will also receive a confirmation email. The link will take them to their personalized gift card. The gift card can either be printed for use at the merchant unless the merchant has specified online redemption only on the brand's page. In some cases they can use the gift card directly from their mobile phone.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="question">
                        <div class="icon-layout"></div>
                        <div class="text">What delivery options do you offer?</div>
                    </div>
                    <div class="answer">
                        <p>
                            eGift cards are delivered via e-mail.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="question">
                        <div class="icon-layout"></div>
                        <div class="text">What methods of payment do you accept?</div>
                    </div>
                    <div class="answer">
                        <p>
                            We accept credit and debit<sup>2</sup> cards from Visa or MasterCard.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="question">
                        <div class="icon-layout"></div>
                        <div class="text">When will my recipient receive their eGift card?</div>
                    </div>
                    <div class="answer">
                        <p>
                            It can sometimes take up to 24 business hours from the time of purchase to review the order unless you specify a future delivery date.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="question">
                        <div class="icon-layout"></div>
                        <div class="text">Can I also buy physical gift cards to be mailed to myself and others?</div>
                    </div>
                    <div class="answer">
                        <p>
                            Yes, although there is an additional fee for shipping and handling.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="question">
                        <div class="icon-layout"></div>
                        <div class="text">Where can these cards be used?</div>
                    </div>
                    <div class="answer">
                        <p>
                            Most cards can be used at the merchant's retail locations and online at the merchant's website. However, since every merchant is different, please refer to their specific terms and conditions found on each brand’s page prior to purchasing their card.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="question">
                        <div class="icon-layout"></div>
                        <div class="text">What if I do not want to hand over my phone to the merchant, specifically if I’m at a restaurant?</div>
                    </div>
                    <div class="answer">
                        <p>
                            You can write down the gift card number and PIN (if applicable) and inform the merchant you are using a gift card as a form of payment.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="question">
                        <div class="icon-layout"></div>
                        <div class="text">When will I get my Earn Credits?</div>
                    </div>
                    <div class="answer">
                        <p>
                            Your Earn Credits will appear in your @Html.ActionLink("transaction history", "History", "Account") within 72 hours in most cases.
                            For additional support, please email us directly at <a href="mailto:earnsupport@microsoft.com">earnsupport@microsoft.com</a>.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="question">
                        <div class="icon-layout"></div>
                        <div class="text">How do I know if I received my Earn Credits?</div>
                    </div>
                    <div class="answer">
                        <p>
                            Track your most recent Earn transactions in your @Html.ActionLink("transaction history", "History", "Account"). Please note that it may take a few days before a pending transaction appears in your confirmed transaction history.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="question">
                        <div class="icon-layout"></div>
                        <div class="text">Can I get a refund on gift card purchases?</div>
                    </div>
                    <div class="answer">
                        <p>
                            Each merchant handles refunds based on their own policies, most often for store credit.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="question">
                        <div class="icon-layout"></div>
                        <div class="text">Can I use my gift cards to make online purchases?</div>
                    </div>
                    <div class="answer">
                        <p>
                            Yes. Enter the gift card number (and PIN if applicable) on the Merchant’s online or mobile checkout page.
                        </p>
                    </div>
                </div>

                <div class="item">
                    <div class="question">
                        <div class="icon-layout"></div>
                        <div class="text">What if the merchant is unable to scan the bar code?</div>
                    </div>
                    <div class="answer">
                        <p>
                            At the register, the cashier can either scan the barcode or manually enter the gift card number (and PIN if applicable).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Fineprints{
    <section id="fineprints">
    <div class="container">
        <p class="fineprint">

            [*] Earn Credits are only received for transactions at participating merchants in Arizona, Massachusetts and Washington and for transactions made at <a href="https://microsoft.giftcardmall.com">https://microsoft.giftcardmall.com</a>.
            Earn Credits only apply to purchases made at the online <a href="http://www.microsoftstore.com/">Microsoft&nbsp;Store</a> and local Microsoft Stores in Arizona, Massachusetts, and Washington.
            Please note that it may take a few days before a purchase appears in your @Html.ActionLink("transaction history", "History", "Account").
            If you believe you did not receive Earn Credits due, please @Html.ActionLink("contact us", "Support", "Account") and provide the place and date of purchase, along with the last 4 digits of your credit/debit card.
            In some cases, Shell transactions may not show up in your Pending transactions at all, but should show up in your Confirmed transactions within a few days.
        </p>
        <br />
        <p class="fineprint">
            [1] Subject to availability. See gift cards for details, terms, conditions and (if applicable) fees. All trademarks are property of their respective owners. The gift cards featured are not sponsors or otherwise affiliated with this company.
        </p>
        <br />
        <p class="fineprint">
            [2] Enrolled debit card transactions where a PIN is entered at checkout do not qualify to receive Earn Credits.
        </p>
    </div>
    <div class="clear"></div>
</section>
}
<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.3.min.js"></script>
<script>
    $('.question').click(function (event) {
        var elem = $(event.target);
        elem.parent().toggleClass("collapse");
        var answer = elem.parent().next();
        answer.slideToggle(200);
    });
</script>