<!--
Copyright (c) Microsoft Corporation. All rights reserved. 
Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
-->
@model Earn.Offers.Earn.Models.AccountsPageModel
@{
    Layout = "~/offers/earn/views/account/accountslayout.cshtml";
    ViewBag.Title = "Frequently Asked Questions";
}

@Html.Partial("~/offers/earn/views/common/faqpartial.cshtml")

@section Fineprints{
    <section id="fineprints">
        <div class="container">
            <p class="fineprint">
                [*] Earn Credits are only received for transactions at participating merchants in Arizona, Massachusetts and Washington, and only apply to purchases made at the online <a href="http://www.microsoftstore.com/">Microsoft Store</a> and local Microsoft Stores in Arizona, Massachusetts, and Washington.
                Please note that it may take a few days before a purchase appears in your @Html.ActionLink("transaction history", "History", "Account").
                If you believe you did not receive Earn Credits due, please @Html.ActionLink("contact us", "Help", "Account") and provide the place and date of purchase, along with the last 4 digits of your credit/debit card.
                In some cases, Shell transactions may not show up in your Pending transactions at all, but should show up in your Confirmed transactions within a few days.
            </p>
        </div>
        <div class="clear"></div>
    </section>
}