<!--
Copyright (c) Microsoft Corporation. All rights reserved. 
Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
-->
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Bing Offers Promotion</title>
</head>
<body>

    <table width="600" cellpadding="20" cellspacing="0" style="margin-right: auto; margin-left: auto; margin-bottom: 0; margin-top: 0; width: 600px; font-family: 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif; padding-left: 20px; padding-bottom: 20px; padding-top: 20px; padding-right: 20px; border-left-width: 0; border-bottom-width: 0; border-right-width: 0; border-top-width: 0;">
        <tr>
            <td bgcolor="#f5f5f5" valign="middle" align="left" style="vertical-align: middle; text-align: left; padding-top: 10px; padding-right: 0; padding-bottom: 10px; padding-left: 0; background-color: #f5f5f5;">
                <a href="https://www.bing.com/offers?bor=@ViewBag.referrer&bof=@ViewBag.campaign" style="padding-right: 0; padding-top: 0; padding-left: 0; padding-bottom: 0; text-decoration: none;" target="_blank">
                    <img width="150" height="35" src="@CardLink.CardLinkedLogoUrl" style="width: 150px; height: 35px; vertical-align: bottom; border-left-width: 0; border-bottom-width: 0; border-right-width: 0; border-top-width: 0; font-size: 10px;" alt="@CardLink.BingOffers" />
                </a>
            </td>
        </tr>
        <tr>
            <td align="left" valign="middle" style="font-family: 'Segoe UI Regular', 'Segoe UI', Arial, Helvetica, sans-serif; text-align: left; vertical-align: middle; padding-top: 10px; padding-right: 0; padding-bottom: 10px; padding-left: 0;">

                <p>We think Bing Offers deals are great. We hope that your first time experience using Bing Offers was delightfully simple.</p>

                <p>We want to make your next visit to a Bing Offers participating merchant even better! <b>Just redeem another Bing Offers Card Linked deal before October 15, 2013 and we&#39;ll send a complimentary $20 Starbucks gift card your way.</b> Use it for your salted caramel mocha, pumpkin treats or a favorite beverage.</p>

                <p>Easy? Yes. Strings attached? No! And as always - <i>you never prepay</i> with Bing Offers at <a href="https://www.bing.com/offers?bor=@ViewBag.referrer&bof=@ViewBag.campaign">http://www.bing.com/offers/</a></p>

                <p>If you have questions about this free gift, or anything else about Bing Offers, <a href="http://bingoffers.uservoice.com/">just ask, and we&#39;ll help you out</a>.</p>

                <p>Thanks for being a Bing Offers Card Linked member. We appreciate your patronage.</p>

                <tr>
                    <td align="center" valign="middle" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 100px; padding-right: 100px; padding-top: 20px;">
                        <table cellspacing="0" cellpadding="0" width="100%" style="width: 100%; padding-left: 0; padding-bottom: 0; padding-top: 0; padding-right: 0;">
                            <tr>
                                <td valign="middle" align="center" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; width: 25%">
                                    <a href="https://www.facebook.com/dialog/feed?app_id=146376102206539&amp;link=http%3A%2F%2Fwww.bing.com%2Foffers&amp;picture=https%3A%2F%2Faz414848.vo.msecnd.net%2Fassets%2Fbing-offers-logo-big.png&amp;name=Bing%20Offers&amp;caption=Check%20Out%20Bing%20Offers%20Website&amp;description=Great%20deals%20and%20offers%20handpicked%20from%20around%20the%20web.&amp;redirect_uri=http%3A%2F%2Fwww.bing.com%2Foffers%3Fid%3Dfacebook-redirect&amp;display=popup&amp;show_error=true">
                                        <img width="30" height="30" src="https://TODO_YOUR_CDN_URL/dailydeals-assets/digest.facebook.png" style="width: 30px; height: 30px; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; font-size: 6px;" alt="Facebook" />
                                    </a>
                                </td>

                                <td valign="middle" align="center" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; width: 25%">
                                    <a href="https://twitter.com/share?url=http%3A%2F%2Fwww.bing.com%2Foffers%2F&amp;text=Check%20out%20Bing%20offers%20website&amp;via=BingOffers&amp;hashtags=BingOffers">
                                        <img width="30" height="30" src="https://TODO_YOUR_CDN_URL/dailydeals-assets/digest.twitter.png" style="width: 30px; height: 30px; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; font-size: 6px;" alt="Twitter" />
                                    </a>
                                </td>

                                <td valign="middle" align="center" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; width: 25%">
                                    <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.bing.com%2Foffers%2F&amp;media=https%3A%2F%2Faz414848.vo.msecnd.net%2Fassets%2Fbing-offers-logo-big.png&amp;description=Checkout%20Bing%20Offers%20website.">
                                        <img width="30" height="30" src="https://TODO_YOUR_CDN_URL/dailydeals-assets/digest.pinterest.png" style="width: 30px; height: 30px; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; font-size: 6px;" alt="Pinterest" />
                                    </a>
                                </td>

                                <td valign="middle" align="center" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; width: 25%">
                                    <a href="mailto:?subject=Checkout Bing Offers website.&amp;body=http%3A%2F%2Fwww.bing.com%2Foffers%2F">
                                        <img width="30" height="30" src="https://TODO_YOUR_CDN_URL/dailydeals-assets/digest.email.png" style="width: 30px; height: 30px; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; font-size: 6px;" alt="Email" />
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td valign="middle" style="vertical-align: middle; font-size: 11px; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 10px; color: #777777;">
                        <p align="left" style="text-align: left; font-size: 11px; color: #777777;">You are receiving this email because you have signed up to receive Bing Offers communications. If you prefer not to receive future offer emails, use the link below to unsubscribe.</p>
                        <p align="center" style="text-align: center; font-size: 11px; color: #777777; text-decoration: none;">Microsoft Corporation, 1 Microsoft Way, Redmond, WA 98052, USA</p>
                    </td>
                </tr>

                <tr>
                    <td valign="middle" align="center" style="vertical-align: middle; text-align: center; font-size: 11px; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 10px;">
                        <table cellspacing="0" cellpadding="0" width="100%" style="font-family: 'Segoe UI Regular', 'Segoe UI', Arial, Helvetica, sans-serif; width: 100%; padding-left: 0; padding-bottom: 0; padding-top: 0; padding-right: 0; font-size: 11px;">
                            <tr>
                                <td valign="middle" align="center" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; width: 23%;">
                                    <a href="https://go.microsoft.com/fwlink/?LinkId=248686" style="font-size: 11px;">Privacy Statements</a>
                                </td>
                                <td valign="middle" align="center" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0;">
                                    <a href="https://g.msn.com/1ewbingwin8/settingsTOUen-US" style="font-size: 11px;">Terms and conditions</a>
                                </td>
                                <td valign="middle" align="center" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; width: 23%;">
                                    <a href="http://bingoffers.uservoice.com/" style="font-size: 11px;">Feedback</a>
                                </td>
                                <td valign="middle" align="center" style="vertical-align: middle; text-align: center; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 0; width: 23%;">
                                    <a href="https://eeepp.glbdns.microsoft.com/eee/securepages/default.aspx?&amp;contactID=/ryMVgxtLR3nhpQduUw3N9faFU0f1/0WN2Y4tFKh6ZYAAIET&amp;publisherID=12800&amp;pubID=45" style="font-size: 11px;">Unsubscribe</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td valign="middle" align="left" style="vertical-align: middle; text-align: left; padding-bottom: 0; padding-left: 0; padding-right: 0; padding-top: 30px;">
                        <a href="http://www.microsoft.com" style="padding-right: 0; padding-top: 0; padding-left: 0; padding-bottom: 0; text-decoration: none;">
                            <img width="70" src="https://TODO_YOUR_CDN_URL/dailydeals-assets/ms.logo70x15.png" alt="Microsoft" style="width: 70px; border-left-width: 0; border-bottom-width: 0; border-right-width: 0; border-top-width: 0; font-size: 10px;" />
                        </a>
                    </td>
                </tr>
            </td>
        </tr>
    </table>

</body>
</html>
